.calendarCell {
    height: 2rem;
    margin-bottom:0.3rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-content: stretch;
    padding-bottom: 1px;
    background-color: #ececec;
    box-shadow: inset 1px -1px #d5d5d5;
}

.calendarCellPast {
    opacity: 0.55;
}

.calendarCellUpcoming:hover {
    background-color: #cecece;
    box-shadow: inset 0 0 #797979;
    cursor: pointer;
}