@import "tailwindcss";
@config "../../tailwind.config.js";
@plugin "daisyui/theme" {
  name: "light";
  default: false;
  prefersdark: false;
  color-scheme: "light";
  --color-base-100: #ffffff;
  --color-base-200: oklch(98% 0 0);
  --color-base-300: oklch(95% 0 0);
  --color-base-content: oklch(21% 0.006 285.885);
  --color-primary: #ff7a0c;
  --color-primary-content: oklch(93% 0.034 272.788);
  --color-secondary: #ffa500;
  --color-secondary-content: oklch(94% 0.028 342.258);
  --color-accent: #2f4f4f;
  --color-accent-content: oklch(38% 0.063 188.416);
  --color-neutral: #2c2c2c;
  --color-neutral-content: oklch(92% 0.004 286.32);
  --color-info: oklch(74% 0.16 232.661);
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: oklch(76% 0.177 163.223);
  --color-success-content: oklch(37% 0.077 168.94);
  --color-warning: #d16512;
  --color-warning-content: oklch(41% 0.112 45.904);
  --color-error: #DC2626;
  --color-error-content: oklch(27% 0.105 12.094);
  --radius-selector: 0.5rem;
  --radius-field: 0.25rem;
  --radius-box: 0.5rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.old-booking {
  text-decoration: line-through;
}

.table th:first-child {
  position: unset;
}

.calculator-group {
  & > .input-group {
    @apply grid;
    grid-template-columns: 4fr 110px;

    & > span {
      @apply flex gap-2;
    }

    & > .input {
      @apply text-right h-7;
    }
  }

  & > .btn {
    @apply h-10 min-h-6;
  }
}

.tooltip:before {
  max-width: 300px;
}

.tooltip-top:before {
  left: 100px;
}

.push-right:before {
  left: 40px;
}

.push-right-more:before {
  left: 60px;
}
