.container {
  padding: 0 0.6rem 4px;
  display: flex;
  justify-content: flex-end;
  gap: 0;
  font-size: small;
  position: relative;
}

.date {
  border-radius: 2rem;
  padding: 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.today {
  background-color: #dc2323;
  color: #ffffff;
}

.wednesday {
  font-weight: bold;
}
