.cardClick {
  border: 2px solid #ccc;
  transition: background-color 0.3s;

  &:hover {
    background-color: #e0e0e0;
    cursor: pointer;
  }
}

.label {
  font-weight: bold;
  margin-bottom: 1rem;
}

.value {
  margin-bottom: 1rem;
}