@use '../../styles/mixins';

.budgets {
  margin-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
}

.headerBudgets {
  display: flex;
  button {
    @include mixins.orange-jpro-round-button;
    margin-right: 12px;
  }
}

.headerText {
  color: mixins.$black;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}