@use '../../styles/mixins';

.initialBudgetInformation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0px;
  margin-bottom: 0px;
  justify-content: center;
  li {
    flex: 33%;
    list-style-type: none;
    margin-bottom: 0px;
  }
}

.posts {
  .header {
    display: flex;
    margin-top: 10px;
    .plus {
      @include mixins.orange-jpro-round-button;
    }
  }
}

.header {
  display: flex;
  margin-top: 10px;
  .plus {
    @include mixins.orange-jpro-round-button;
  }
}

.headerText {
  color: mixins.$black;
  position: absolute;
  top: 30%;
  left: 50%;
  width: 100%;
  text-align: center;
  transform: translate(-50%, -50%);
}