.accordion-button {
  &:focus {
    box-shadow: 0px 0px 0px 0.1rem #ff7a0c;
  }
  &:not(.collapsed) {
    color: black;
    background-color: rgba(100%, 47.84%, 4.71%, 0.5);
    &::after {
      color: black;
      background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
    }
  }
  &:hover {
    background-color: rgba(100%, 47.84%, 4.71%, 0.5);
  }
}
.budgets {
  .headerBudgets {
    display: flex;
    .headerText {
      width: 93.5%;
    }
    .refresh {
      color: #ff7a0c;
      font-size: xx-large;
      top: 0;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
        color: orange;
      }
    }
  }
}

.posts {
  .header {
    display: flex;
    .headerText {
      width: 97%;
    }
    .plus {
      color: #ff7a0c;
      font-size: xx-large;
      top: 0;
      justify-content: space-between;
      &:hover {
        cursor: pointer;
        color: orange;
      }
    }
  }
}
.card {
  margin-bottom: 5px;
  margin-top: 5px;
}
