@import "../../Common.scss";

.accordion-button {
  &:focus {
    box-shadow: 0px 0px 0px 0.1rem $jpro-orange;
  }
  &:not(.collapsed) {
    color: $black;
    background-color: $lighter-orange;
    &::after {
      color: $black;
      background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
    }
  }
  &:hover {
    background-color: $lighter-orange;
  }
}

.budgets {
  margin-top: 15px;
  .headerBudgets {
    display: flex;
    .headerText {
      margin-left: 5px;
    }
    button {
      margin-right: 12px;
    }
  }
}
