@use "../../Common.scss";
//Budget
.posts {
  .header {
    display: flex;
    margin-top: 10px;
    Button {
      @include Common.orange-jpro-round-button;
      @include Common.btn;
    }
  }
}

.card {
  margin-bottom: 5px;
  margin-top: 5px;
}
//CreateBudgetPost
.inputCard {
  border-color: Common.$darker-orange;
  input {
    &:focus {
      outline-color: Common.$jpro-orange;
    }
  }
  .description {
    min-width: 280px;
    width: 50%;
  }
  .addPost {
    width: 100%;
    padding: 5px;
    display: flex;
    flex-wrap: wrap;
    li {
      list-style-type: none;
      margin-bottom: 10px;
      margin-left: 10px;
      .description {
        margin-left: 5px;
      }
      span {
        font-weight: bold;
        display: inline-block;
        width: 50px;
      }
      .inputDate {
        width: 185px;
        height: 30px;
      }
    }
  }
  .addPostBtn {
    @include Common.btn;
    margin-left: 14px;
  }
}

//Post
.removePostBtn {
  @include Common.btn;
  &:focus {
    box-shadow: 0px 0px 0px 0.1rem Common.$lighter-orange;
    border-color: Common.$lighter-orange;
  }
  &:not(.collapsed) {
    color: Common.$white;
    background-color: Common.$jpro-orange;
    &::after {
      color: Common.$white;
      border-color: Common.$white;
    }
  }
  &:hover {
    background-color: Common.$hover-orange;
  }
}
.modal {
  .modal-body {
    background-color: Common.$navbar-color;
    color: Common.$white;
  }
  .container {
    .deletebtn {
      @include Common.btn;
      color: Common.$white;
    }
    .cancelbtn {
      @include Common.btn;
      color: Common.$white;
      float: right;
    }
  }
}

//BudgetInformation
.budgetType {
  .budgetInformation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
    justify-content: center;
    li {
      flex: 50%;
      list-style-type: none;
      padding: 3px;
    }
    @media screen and (max-width: Common.$smallScreen) {
      li {
        flex: 60%;
      }
    }
    span {
      font-weight: bold;
    }
  }
}

//Budgets
.accordion-button {
  &:focus {
    box-shadow: 0px 0px 0px 0.1rem Common.$jpro-orange;
  }
  &:not(.collapsed) {
    color: Common.$black;
    background-color: Common.$lighter-orange;
    &::after {
      color: Common.$black;
      background-image: url("data:image/svg+xml,%3csvg xmlns=%27http://www.w3.org/2000/svg%27 viewBox=%270 0 16 16%27 fill=%27%23212529%27%3e%3cpath fill-rule=%27evenodd%27 d=%27M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z%27/%3e%3c/svg%3e");
    }
  }
  &:hover {
    background-color: Common.$lighter-orange;
  }
}

.budgets {
  margin-top: 15px;
  .loadSpin {
    color: Common.$darker-orange;
    align-items: center;
    margin-left: 20px;
    h3 {
      margin-left: 20px;
    }
  }
  .headerBudgets {
    display: flex;
    .headerText {
      margin-left: 5px;
    }
    button {
      @include Common.orange-jpro-round-button;
      @include Common.btn;
      margin-right: 12px;
    }
  }
  .initialBudgetInformation {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 0px;
    margin-bottom: 0px;
    justify-content: center;
    li {
      flex: 33%;
      list-style-type: none;
      margin-bottom: 0px;
    }
  }
}
