@use '../../styles/mixins';

.budgetInformation {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 5px;
  justify-content: center;
  margin-bottom: 0px;
  li {
    flex: 50%;
    list-style-type: none;
    padding: 3px;
  }
  @media screen and (max-width: mixins.$smallScreen) {
    li {
      flex: 60%;
    }
  }
  span {
    font-weight: bold;
  }
}