@use '../../styles/mixins';

.headerPost {
  display: flex;
  b {
    margin-top: 8px;
  }
}

.rightBtnsDiv {
  margin-right: 0px;
  margin-left: auto;
  display: flex;
  Button {
    @include mixins.orange-jpro-round-button;
  }
  .leftBtn {
    margin-right: 4px;
  }
}

.postList {
  li {
    list-style-type: none;
    margin-bottom: 10px;
    margin-left: -25px;
    .description {
      margin-left: 5px;
    }
  }
}