.info {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  margin-right: 0.5em;
  width: 2em;
  cursor: pointer;
}

.icon {
  height: 90%;
  width: 90%;
  color: #2e51ef;
  background-color: #ffffff;
}

.dialog {
  position: absolute;
  padding: 0 0.5em;
  right: 2em;
  font-size: 16px;
  white-space: nowrap;
  color: #161616;
  background: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  z-index: 1;
}
