@use '../../styles/mixins';

.navbar {
  background-color: mixins.$navbar-color;
  a {
    margin-left: 10px;
  }
}

.navLink {
  color: mixins.$white;
  text-align: center;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;

  &:active > a.navLink {
    color: mixins.$jpro-orange;
  }

  &:hover {
    color: mixins.$jpro-orange;
    transform: scale(1.1);
  }
}

a.navLink {
  margin-left: 5px;
}

.navtext {
  width: 100%;
  position: relative;
  left: 50%;
  transform: translatex(-50%);
  text-align: center;
}

.containerFluid {
  margin-right: 30px;
}

.logo {
  height: 30px;
  width: 40px;
}

.icon {
  border-radius: 50%;
  height: 30px;
  margin-top: 9px;
}
