@import "../../Common.scss";
.vertical-center {
  background-color: $navbar-color;
  height: 100%;
  width: 100%;
  position: fixed;
  .headerText {
    color: $white;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .logo {
    margin: 10px;
  }
  .loginBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
