@use "./Common.scss";
html {
    .Toastify__toast-theme--colored.Toastify__toast--success {
        background-color: Common.$toast-success;
    }

    .Toastify__toast-theme--colored.Toastify__toast--error {
        background-color: Common.$darker-orange;
    }

  height: 100%;
  overflow-x: scroll;
  .App {
    text-align: center;
  }
  #root {
    min-width: 350px;
  }

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }

  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }

  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffffff;
  }

  .App-link {
    color: #61dafb;
  }

  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .loadSpinUser {
    color: Common.$darker-orange;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    h3 {
      margin-left: 20px;
    }
  }
}

.vertical-center {
  background-color: Common.$navbar-color;
  height: 100%;
  width: 100%;
  position: fixed;
  .headerText {
    color: Common.$white;
    position: absolute;
    top: 30%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
  }
  .logo {
    margin: 10px;
  }
  .loginBtn {
    @include Common.btn;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
