@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.color-nav {
  background-color: orange;
  height: 80px;
}

.nav-link:hover {
  color: white !important;
  transform: scale(1.1);
}
.nav-link {
  color: black !important;
  text-align: center;
  font-size: 18px;
  margin-left: 5px;
  margin-right: 5px;
  
}

.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}

.navbar {
    background-color: orange;
}

.navtext {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translatex(-50%);
    text-align: center;
}


