.bookingBar {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
}

.bookingBar:hover {
  cursor: pointer;
  opacity: 0.8;
}

.bookingBarMine {
  background-color: #5bceae;
}

.bookingBarMinePending {
  background: repeating-linear-gradient(
    0deg,
    #8bd8ff,
    #8bd8ff 10%,
    #dadada 10%,
    #dadada 20%
  );
}

.bookingBarTheirs {
  background-color: #2b809b;
}

.bookingBarTrain {
  background: repeating-linear-gradient(
    0deg,
    #ff7a0c,
    #ff7a0c 10%,
    #dadada 10%,
    #dadada 20%
  );
}

.bookingBarPeriodStart {
  border-radius: 0.9rem 0 0 0.9rem;
  margin-left: auto;
  width: 50%;
}

.bookingBarPeriodEnd {
  border-radius: 0 0.9rem 0.9rem 0;
  margin-right: auto;
  width: 50%;
}

.bookingBarNameLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0.5rem;
  margin: 0.25rem;
  text-overflow: ellipsis;
  white-space: nowrap;
}
